
.DS_Store

workfiles
src/.Rhistory
__pycache__
.vscode
external_aproach/VQ_VAE_disc
*.csv
external_aproach/VQ_2_disc
*.mp4
config_custom.json
# Egg-info directory
*.egg-info/

# Data directory
/data/**.pyc
__pycache__
.venv
/data/*
!/data/.gitkeep

cache
outputs/
*lightning_logs